<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanfangyi.nettyim.mapper.FriendChatMapper">
    <sql id="columns">
      id,userid,usertype,frienduserid,friendusertype,status,latestmsg,ctime,utime
    </sql>

    <insert id="insert" parameterType="com.lanfangyi.nettyim.bean.FriendChat">
        insert into friendchats(<include refid="columns"/>)
        values(#{id}, #{userid}, #{usertype},
        #{frienduserid},#{friendusertype},#{status},#{latestmsg},#{cTime},#{uTime})
    </insert>

    <update id="update" parameterType="com.lanfangyi.nettyim.bean.FriendChat">
        update friendchats set latestmsg=#{latestMsg} utime=#{updateTime} where id = #{id}
    </update>

    <select id="listFriendChat" resultType="com.lanfangyi.nettyim.bean.FriendChat">
        select
        <include refid="columns"/>
        from friendchats where userid=#{userId} and usertype=#{userType} order by id desc;
    </select>

</mapper>